################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitProject/v17/.wsuo
/.vs/GitProject/v17/DocumentLayout.json
