.item {
    background: var(--athens-gray);

    &__body {
        margin: 0 auto;
        background: var(--white);
        max-width: 672px;
        height: 100%;
        padding: 16px 16px 16px 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__close {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        text-align: left;
        color: var(--royal-blue);
    }

    &__img {
        width: 640px;
        height: 640px;
    }

    &__name {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 30px;
        color: var(--black);
    }

    &__status {
        border: 1px solid var(--mischka);
        padding: 12px;
        width: 100%;
        height: 74px;
        background: var(--athens-gray);

        &-descr {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            color: var(--river-bed);
        }

        &-info {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;
            color: var(--jewel);
        }
    }

    &__btn {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: var(--white);

        width: 640px;
        height: 52px;
    }

    &__descr {
        &-title {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            color: var(--river-bed);
        }

        &-field {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 15px;
            line-height: 152%;
            color: var(--ebony-clay);

            border: 1px solid var(--mischka);
            padding: 12px;
            width: 640px;
            height: 146px;
            max-height: 256px;
            background: var(--white);
        }
    }
}
