.header {
    border-bottom: 1px solid var(--athens-gray);
    height: 53px;

    .container {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }

    &__logo {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: var(--ebony);
    }

    &__right_wrapper {
        display: flex;
        gap: 15px;
    }

    &__btn {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: var(--oxford-blue);
        border: none;
        background-color: rgba($color: #000000, $alpha: 0);

        &:hover {
            color: var(--ebony);
        }
    }
}
