@import './components/card';
@import './components/mainModal';

.filter {
    border-bottom: 1px solid var(--athens-gray);
    padding: 24px 0;

    &__search {
        border: 1px solid var(--mischka);
        border-radius: 8px;
        padding: 15px 16px 14px;
        width: 672px;
        height: 55px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        display: block;
        margin: 0 auto 16px auto;

        &::placeholder {
            color: var(--gray-chateau);
        }
    }

    &__wrapper {
        gap: 15px;
    }

    &__group {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: var(--black);
        margin-bottom: 4px;
    }
}

.card_list {
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.main__btn-add {
    position: fixed;
    right: 24px;
    bottom: 50px;
    border: none;
    border-radius: 9999px;
    width: 56px;
    height: 56px;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: var(--white);
}
