:root {
    --athens-gray: #e5e7eb;
    --athens-gray: #f3f4f6;
    --athens-gray: #f9fafb;
    --black: #000;
    --ebony: #111827;
    --ebony-clay: #1f2937;
    --gallery: #efefef;
    --gray-chateau: #9ca3af;
    --jewel: #166534;
    --jewel: #15803d;
    --mischka: #d1d5db;
    --oxford-blue: #374151;
    --pale-sky: #6b7280;
    --persian-blue: #1d4ed8;
    --river-bed: #4b5563;
    --royal-blue: #2563eb;
    --scandal: #dcfce7;
    --white: #fff;
    --white-athens-gray: #fff;
    --white-athens-gray: #fff;
    --color-azure-17: #1f2937;
    --color-white-solid: #fff;
    --color-azure-11: #111827;
    --color-azure-27: #374151;
    --color-grey-98: #f9fafb;
    --color-grey-91: #e5e7eb;
    --color-grey-46: #6b7280;
    --color-azure-84: #d1d5db;
    --color-azure-65: #9ca3af;
    --color-azure-34: #4b5563;
    --color-azure-48: #1d4ed8;
    --color-azure-53: #2563eb;
    --color-black-solid: #000;
    --color-grey-93: #dcfce7;
    --color-spring-green-24: #166534;
    --color-grey-96: #f3f4f6;
    --color-grey-94: #efefef;
    --color-spring-green-29: #15803d;
    --font-family: 'Segoe UI Symbol', sans-serif;
    --second-family: 'Inter', sans-serif;
}
