* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.button-blue {
    background: var(--royal-blue);
    border: none;

    &:hover {
        background: var(--persian-blue);
    }

    &:disabled {
        background-color: grey;
    }
}

@import './tokens';
